@media screen and (max-width: 1024px) {
  .background-image {
    height: 48vw;
  }

  .out-side-btn {
    width: 34%;
  }
}

@media screen and (max-width: 768px) {
  .background-image {
    height: 50%;
  }

  button {
    width: 20%;
  }

  .out-side-btn {
    width: 31%;
  }

  .rento-result {
    font-size: 16px;
  }

  .details-main {
    margin-top: 24%;
  }
}

@media screen and (max-width: 767px) {
  .search-btn,
  input {
    width: 100%;
  }

  .form-div {
    width: 80%;
  }
}

@media screen and (max-width: 706px) {
  .out-side-btn {
    width: 44%;
  }
}

@media screen and (max-width: 501px) {
  .out-side-btn {
    width: 67%;
  }
}

@media screen and (max-width: 320px) {
  .h3-rento {
    display: block;
    width: 95%;
    margin-top: 109px;
    margin-left: 10px;
    text-align: center;
  }

  .main-section {
    width: 100%;
  }

  .background-image {
    background-position: 0% -211px;
    height: 256vw;
  }

  .form {
    width: 95%;
  }

  input {
    margin: 0 auto;
  }

  button {
    margin: 0 auto;
    width: 90%;
  }

  .label {
    margin-left: 5%;
  }

  .out-side-btn {
    width: 49%;
  }

  .details-main {
    margin-top: 53%;
  }
}
