nav {
  background-color: rgb(206, 75, 75);
  color: rgb(240, 248, 255);
  width: 100%;
  left: 0;
}

.left-menu a {
  color: rgb(240, 248, 255);
  font-size: 14px;
}

.rotate {
  transform: rotate(45deg);
}

.material-icons {
  font-size: 20px;
}

.left-menu a:hover {
  text-decoration: none;
}

nav h1 {
  font-size: 25px;
}

h2 {
  font-size: 14px;
}

.background-image {
  background-image: url("https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-position: cover;
  height: 32vw;
}

h3 {
  color: aliceblue;
  font-size: 20px;
}

.form {
  width: 100%;
  background-color: rgba(238, 203, 203, 0.7);
  border-radius: 11px;
}

.btn-primary {
  background-color: rgb(206, 75, 75);
}

input {
  width: 70%;
  height: 40px;
}

button {
  width: 17%;
}

#main-section {
  width: 59%;
  padding-top: 10%;
}

.out-side-btn {
  width: 11%;
}
